@page "/userManager"
@attribute [Authorize]
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime
@inject ISnackbar Snackbar
@inject IUserAuthService auth
@using System.ComponentModel.DataAnnotations

<PageTitle>Blazing Pizza - Payment Methods</PageTitle>
@if (IsAdmin == true)
{
    <div class="main">
        <MudGrid>
            <MudItem xs="12" sm="6" md="6">
                <MudPaper Class="pa-4">
                    <MudForm @ref="form">
                        <MudTextField @bind-Value="AppUserName" ReadOnly="true" Label="UserName" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense"
                                  Required="true" RequiredError=""></MudTextField>

                        <MudSelect Placeholder="Select User Role" ToStringFunc="@convertFunc" HelperText="User Roles" @bind-Value="role" CloseIcon="@Icons.Material.Filled.Flag" AdornmentColor="Color.Tertiary" Required="true" RequiredError="You Must Select A Role">
                            @if (roles != null)
                            {
                                @foreach (var item in roles)
                                {
                                    <MudSelectItem Value="@item">@item.RoleName </MudSelectItem>
                                }
                            }
                        </MudSelect>
                    </MudForm>

                </MudPaper>
                <MudPaper Class="pa-4 mt-2 " Style="text-align:right;">

                    <MudButton Class="" Disabled="@_processing" OnClick="ProcessSomething" Variant="MudBlazor.Variant.Filled" Color="Color.Primary">
                        @if (_processing)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                            <MudText Class="ms-2">Saving</MudText>
                        }
                        else
                        {
                            <MudText>@BtnName</MudText>
                        }
                    </MudButton>
                </MudPaper>


            </MudItem>
            <MudItem xs="12" sm="6" md="6">
                <MudTable Items="@users" Dense="true" Hover="true" Bordered="true" Striped="true" Filter="new Func<AppUser,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Pizza App Users</MudText>
                        <MudSpacer />
                        <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>Sl#</MudTh>
                        <MudTh>Name</MudTh>
                        <MudTh>Role</MudTh>
                        <MudTh>Action</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Sl#">@(users.IndexOf(context) + 1)</MudTd>
                            <MudTd DataLabel="Name">@context.UserName</MudTd>
                            <MudTd DataLabel="Role">@context.Roles?.RoleName</MudTd>
                            <MudTd DataLabel="Action">

                                <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="()=>Edit(context)" aria-label="delete"></MudIconButton>
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="()=>ConfirmDelete(context.UserId)" aria-label="delete"></MudIconButton>
                            </MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>
                    </MudTable>
                </MudItem>
            </MudGrid>
        </div>
}



    @code {
    [Inject] private IDialogService DialogService { get; set; }
    public string AppUserName { get; set; }
    public string AppUserId { get; set; } = "";
    private string searchString1 = "";
    private HashSet<AppUser> selectedItems = new HashSet<AppUser>();
    private AppUser selectedItem1 = null;
    private List<AppUser> users = new List<AppUser>();
    private List<UserRole> roles = new List<UserRole>();
    private UserRole role { get; set; }
    private int sl = 0;
    public string BtnName = "Save";
    MudForm form;
    public bool IsAdmin { get; set; } = false;
    private Func<UserRole, string> convertFunc = ci => ci?.RoleName;
    protected override async Task OnInitializedAsync()
    {
        IsAdmin = await auth.IsAdminAsync();
        if (IsAdmin)
        {
            await LoadDataAsync();

        }
    }


    protected async Task LoadDataAsync()
    {
        AppUserId = "";
        role = new UserRole();
        AppUserName = "";
        users = await HttpClient.GetFromJsonAsync<List<AppUser>>("/user");
        roles = await HttpClient.GetFromJsonAsync<List<UserRole>>("/roles");
    }
    private bool FilterFunc1(AppUser element) => FilterFunc(element, searchString1);

    private bool FilterFunc(AppUser element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.UserName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Roles != null)
        {
            if (element.Roles.RoleName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
        }

        return false;
    }

    private bool _processing = false;

    protected async Task ProcessSomething()
    {
        _processing = true;
        await SaveAsync();
        _processing = false;
    }


    protected async Task ConfirmDelete(string id)
    {
        bool? result = await DialogService.ShowMessageBox(
            "Warning",
            "Deleting can not be undone!",
            yesText: "Delete!", cancelText: "Cancel");
        if (result == true)
        {
            await Delete(id);
        }

    }
    protected async Task Delete(string id)
    {
        var result = await HttpClient.DeleteFromJsonAsync<bool>($"/user/{id}");

        if (result)
        {
            Snackbar.Add("Sucessfully Removed", Severity.Success, config => { config.HideIcon = true; });
        }
        else
        {

            Snackbar.Add("Failed To Remove", Severity.Error, config => { config.HideIcon = true; });
        }
        await LoadDataAsync();
        await Task.CompletedTask;
    }

    protected async Task Edit(AppUser user)
    {
        BtnName = "Update";

        AppUserName = user.UserName;
        AppUserId = user.UserId;
        role = user.Roles;
        await Task.CompletedTask;
    }

    protected async Task SaveAsync()
    {
        await form.Validate();
        if (form.IsValid && String.IsNullOrEmpty(AppUserId) == false)
        {
            AppUser user = new AppUser()
                {
                    UserId = AppUserId,
                    UserName = AppUserName,
                    Roles = role
                };
            var result = await HttpClient.PostAsJsonAsync<AppUser>($"/user", user);
            if (result.IsSuccessStatusCode)
            {
                Snackbar.Add("Sucessfully Saved", Severity.Success, config => { config.HideIcon = true; });
            }
            else
            {
                Snackbar.Add("Failed To Save", Severity.Error, config => { config.HideIcon = true; });
            }
            await LoadDataAsync();
        }


    }
}
